.Layout{
    text-align: center;
}

a:hover{
    color: green;
}

a:link{
    color: blue;
}

a:visited{
    color: #5E5946;
}

a:active{
    color: black;
}

.nav-card{
    display: flex;
    flex-direction: column;
    text-align: left;
    border: 1px solid #5E5946;
    background-color: #C3C1AB;
    margin: 5px;
    padding-left: 10px;
}